@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;;
}
body{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

div{
     display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
   background-color:#f1e2da;
}
p{
    width: 500px;
    text-align: justify;

}

img{
    width: 300px;
    border-radius: 40px;
}