*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
     display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
p{
    width: 500px;
}

img{
    width: 300px;
    border-radius: 40px;
}